{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="log-in-reg">
    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="username">Full Name</label>
    <input name="realName" id="realName" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" class="log-reg-button" value="Register">
  </form>
{% endblock %}
